<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

<!--    for each job in job results, display job in its own table, with one job field (employer, coreComp, etc) per row-->



<!--    each job is its own table-->
<!--    <th:block th:each="job : ${jobs}">-->
<!--        <table>-->
<!--            <tr th:text="${job.key}">-->
<!--                <td th:text="${job.id}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td th:text="${job.name}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </th:block>-->


    <table class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <span style="white-space: pre-wrap" th:text="${job}"></span>
            </td>
        </tr>
    </table>





</div>

</body>
</html>